<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find pocketsphinx)/demo/robocup.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/robocup.dic"/>
<param name="mic_name" value="alsa_input.usb-PrimeSense_PrimeSense_Device-01-Device.analog-stereo"/>
  </node>

</launch>
