<launch>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find pocketsphinx)/demo/timmy2.lm"/>
    <param name="dict" value="$(find pocketsphinx)/demo/timmy2.dic"/>
    <param name="mic_name" value="alsa_input.usb-PrimeSense_PrimeSense_Device-01-Device.analog-stereo"/>
  </node>

</launch>
