<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- GAZEBO ROS CONTROL AND IMU PLUGIN -->
    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/hros5</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
<!-- END OF GAZEBO ROS CONTROL PLUGIN -->

<!-- MIMIC JOINTS  -->
	<gazebo>
		<plugin name="HeadPitchDummy" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
			<joint>HeadPitch</joint>
			<mimicJoint>HeadPitchDummy</mimicJoint>
			<multiplier>-1.0</multiplier>
			<offset>0.0</offset>
		</plugin>
		<plugin name="HeadPitchDummy2" filename="libroboticsgroup_gazebo_mimic_joint_plugin.so">
			<joint>HeadPitch</joint>
			<mimicJoint>HeadPitchDummy2</mimicJoint>
			<multiplier>0.65</multiplier>
			<offset>0.0</offset>
		</plugin>
	</gazebo>
<!-- END OF MIMIC JOINTS -->
</robot>