<?xml version="1.0"?>

<launch>

    <rosparam file="$(find hros5_ros_control)/config/initialization.yaml" command="load" />
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find hros5_ros_control)/config/hros5_states.yaml" command="load" />
    <rosparam file="$(find hros5_control)/config/hros5_position_control.yaml" command="load" />

    <node name="hros5_ros_controller" pkg="hros5_ros_control" type="hros5_ros_controller" respawn="true" output="screen" >
      <rosparam file="$(find hros5_ros_control)/config/hros5_controller_config.yaml" command="load"/>
      <param name="hros5_ini_file" value="$(find hros5_ros_control)/config/hros5_config.ini" />

      <param name="hros5_config_file" value="$(find hros5_framework)/Data/config.ini" />
      <param name="hros5_action_file" value="$(find hros5_framework)/Data/motion_4096.bin" />
    </node>

    <include file="$(find hros5_control)/launch/hros5_position_control.launch" />

</launch>
