<?xml version="1.0"?>

<launch>
 <arg name="namespace" default="/hros5"/>

 <!-- load position controllers -->
 <node name="position_controller_spawner" pkg="controller_manager" type="spawner" ns="$(arg namespace)" respawn="false" output="screen"
   args="/hros5/RShoulderPitch_position_controller
   /hros5/LShoulderPitch_position_controller
   /hros5/RShoulderRoll_position_controller
   /hros5/LShoulderRoll_position_controller
   /hros5/RElbowPitch_position_controller
   /hros5/LElbowPitch_position_controller
   /hros5/RHipYaw_position_controller
   /hros5/LHipYaw_position_controller
   /hros5/RHipRoll_position_controller
   /hros5/LHipRoll_position_controller
   /hros5/RHipPitch_position_controller
   /hros5/LHipPitch_position_controller
   /hros5/RKneePitch_position_controller
   /hros5/LKneePitch_position_controller
   /hros5/RAnklePitch_position_controller
   /hros5/LAnklePitch_position_controller
   /hros5/RAnkleRoll_position_controller
   /hros5/LAnkleRoll_position_controller
   /hros5/HeadYaw_position_controller
   /hros5/HeadPitch_position_controller
   /hros5/joint_state_controller
   /hros5/imu_sensor_controller"/>
</launch>
